body{
  font-family: Arial,Helvetica,sans-serif;
  color:#555;
  background-color: lightblue;
}
h1{
text-align: center;
margin-top: 5%;
}
button{
        padding: 0.8em 0em;
        width:350px;
        background: #ff6e00;
        border-radius:15px;
        border:0;
        color:#fff;
        font-size:1.2em;
        font-family: Arial,Helvetica,sans-serif;
        font-weight:bold;
        cursor:pointer;
        margin:1em 2em;
        text-transform:uppercase;
        align-content: center;
        margin-left: 40%;
        margin-top: 3%;
}
.light{
background: -moz-linear-gradient(-45deg,  #ff6e00 0%, #ff6e00 40%, #ffffff 50%, #ff6e00 60%, #ff6e00 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff6e00), color-stop(40%,#ff6e00), color-stop(50%,#ffffff), color-stop(60%,#ff6e00), color-stop(100%,#ff6e00));
background: -webkit-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -o-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: -ms-linear-gradient(-45deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
background: linear-gradient(135deg,  #ff6e00 0%,#ff6e00 40%,#ffffff 50%,#ff6e00 60%,#ff6e00 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6e00', endColorstr='#ff6e00',GradientType=1 );
background-repeat: no-repeat;  
background-position:0px;
background-size:300%;  
}

.light:hover{
  animation:light 1s;
    -webkit-animation:light 1s;
  
}

@keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}
        
@-webkit-keyframes light {
  0% {
        background-position:-600px; 
  }
  100% { 
        background-position:0px; 
  }
}
